html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

header {
  background-color: @header-background-color;
  padding: 30px;
  text-align: left;
  font-size: 35px;
  color: white;
}

.container {
  max-width: 1000px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.navbar {
  overflow: hidden;
  background-color: @navbar-background-color;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

footer {
  background-color: @footer-background-color;
  padding: 1px;
  text-align: center;
  color: white;
}